@media (min-width: 650px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom:1px solid #BDBDBD;
    background-color: white;
  }

.navbar-brand, .caption {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 17px;    
}

.navbar-brand:hover {
    cursor: pointer;
    color: #D32F2F!important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #D32F2F;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: rgba(0,0,0,.5);
    font-family: 'Raleway', sans-serif;
}

.nav-link.active {
    color: #D32F2F;
}

.divider-vertical {
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

#home{
    padding-top:54px;
}

#portfolio,#about,#contact{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-top:22px;
}

.container-fluid {
    margin: auto;
    max-width: 1500px;
}

.container-section-title {
    padding-top:32px;
    padding-bottom:32px;
}

.section-title {
    border-bottom:1px solid;
    border-color:#BDBDBD;
    padding-top:16px;
    padding-bottom:16px;
}

.thumbnail {
    cursor: pointer;
}

.thumbnail:hover > .caption{
    color:#D32F2F;
}

.nav-item .nav-link:hover {
    cursor: pointer;
}

.zm-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}
.zm-image:hover img {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}

.zm-image {
    overflow: hidden;
}

.caption {
    text-align: center;
    color: black;
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.lg-fullscreen-on .lg-sub-html {
    display: none;
}

#image-profile {
    width: 100%;
    margin-bottom: 20px;
}

.table-sm td, .table-sm th {
    padding: 0.15rem;
}

.table_blank_row {
    height: 5px;
}

.cv-section-title {
    font-size: 1.4rem;
}

.cv-section-title-icon {
    text-align: center;
}

.cv-elem-title {
    font-weight: bold;
}

.cv-point {
    vertical-align: middle;
    text-align: center;
    font-size: 8px;
}

.second-table {
    margin-top:35px;
}

#contact, .contact-row a , .contact-icon{
    color: black;
}

.contact-row {
    margin-bottom: 10px;
}

.contact-row a:hover, .contact-link:hover {
    color:#D32F2F;
    cursor: pointer;
    text-decoration: none;
}

.social-icon {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

@media (max-width:1036px) {
    .exp_left {
        margin: 0 auto 3em;
    }
}

@media (min-width:1037px) {
	.exp_right {
        max-width: 660px;
        margin-left:20px;
    }
}

@media (min-width:768px) {
    .contact-row {
        margin-bottom: 30px;
    }

    .contact-icon {
        text-align: center;
    }

}